@font-face {
    font-family: "Trebuchet MS";
    src: url(../fonts/trebuchet_ms.ttf) format('truetype');
    font-weight : normal;
    font-style : normal;
}
body {
    color : white;
    margin: 0;
    padding: 0;
    background-color: #2c3e50;
    display : flex;
    justify-content: center;
    font-family: "Trebuchet MS", serif;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}
#game{
    box-sizing: border-box;
    margin:0;
    width: 500px;
    height:500px;
}
.case {
    border: 1px solid rgba(0,0,0,0.5);
    background-color:rgba(255,255,255,0.15);
    margin:0;
    padding: 0;
    width: calc(100% / 9);
    height:100%;
    z-index:1;
    display : flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    text-align: center;
    outline: none;
    color : white;
    box-sizing: border-box;
}
.case:disabled{
    color : rgba(255,255,255,0.7);
}
.borderTop{
    border-top: 3px solid rgba(0,0,0,0.5);
}
.borderLeft{
    border-left: 3px solid rgba(0,0,0,0.5);
}
.borderRight{
    border-right: 3px solid rgba(0,0,0,0.5);
}
.borderBottom{
    border-bottom: 3px solid rgba(0,0,0,0.5);
}
.line{
    display : flex;
    justify-content: center;
    width: 100%;
    height : calc(100% / 9);
}
#score{
    color : white;
    font-size: 25px;
    position: absolute;
    top: 2%;
    left: 2%;
}
#black-container{
    z-index : 11;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#black-container button{
    font-size: 25pt;
    padding: 15px 25px;
    color : white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 10px 15px;
    transition: 0.1s;
    outline: none;
}
#black-container button:hover{
    transform: scale(1.1);
}
#black-container-sub{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button-green{
    background-color: #27ae60;
}
.button-orange{
    background-color: #e67e22;
}
.button-red{
    background-color: #c0392b;
}
.button-blue{
    background-color: #2980b9;
}
#end-game-text{
    text-align: center;
    font-size: 80pt;
}
#end-game-container{
    text-align: center;
}
@keyframes opacityHide{
    0% {
        opacity : 1;
    }
    100% {
        opacity : 0;
    }
}
@keyframes opacityShow{
    0% {
        opacity : 0;
    }
    100% {
        opacity : 1;
    }
}
.display-flex{
    display: flex;
}
.display-none{
    display: none;
}
.z-index10{
    z-index : 10;
}
.z-index12{
    z-index: 12;
}
