:root{
	--blue-light-default: #2C82C9;
	--grey-dark-default: #333333;
	--grey-light-default: #575757;
}
nav{
	background-color : var(--blue-light-default);
}
.bar{
	background-color: var(--blue-light-default);
}
#subContainer{
	background-color: white;
}
.navItem{
	color : white;
}
.navItem::after{
	background-color: white;
}
#scrollProgress{
	background-color: var(--blue-light-default);
}
#information h1, #history-title{
	color : var(--grey-dark-default);
}
#information p{
	color : var(--grey-light-default);
}
#profilePicture{
	border : 2px solid var(--blue-light-default);
}
#skill-background-shape {
	background-color: var(--blue-light-default);
}
#projects{
	background-color: #616b75;
}
.project-item:hover{
	box-shadow: 0 6px 10px 2px rgba(0,0,0,0.3);
}
.project-item-text-container{
	background-color: white;
}
.project-item-text{
	color : var(--grey-dark-default);
}
.project-item-date{
	color : rgba(255,255,255,0.8);
}
.project-item-language-infobulle, .contact-item-infobulle, .skill-item-infobulle{
	background-color: rgba(0,0,0,0.7);
	box-shadow: 0 6px 10px 2px rgba(0,0,0,0.3);
	color : white;
}
.project-item-language-infobulle::before, .contact-item-infobulle::before, .skill-item-infobulle::before{
	border-color: transparent transparent rgba(0,0,0,0.7) transparent;
}
#project-popup{
	background-color: var(--grey-light-default);
}
#cross-container::before, #cross-container::after{
	background-color: white;
}
.popup-link,.contact-item, .skill-item, #popup-right-container, #popup-links-container, .popup-language-container, .more-button, .less-button{
	background-color: white;
}
.popup-link:hover, .popup-language-container:hover, .contact-item:hover, .skill-item:hover{
	box-shadow: 0 6px 10px 2px rgba(0,0,0,0.3);
}
#popup-title, .popup-language-name, #popup-text{
	color : var(--grey-light-default);
}
.more-button::before, .more-button::after, .less-button::before{
	background-color: var(--grey-dark-default);
}
.history-item-round{
	border: 3px solid var(--blue-light-default);
	box-shadow: 0 0 0 3px white inset;
	background-color: var(--blue-light-default);
	color : white;
}
.history-item-round:hover{
	box-shadow: 0 0 0 0 white inset;
}
.history-item-title{
	color: var(--blue-light-default);
}
.history-bar{
	background-color: var(--blue-light-default);
}
.history-item-text{
	color: var(--grey-dark-default);
}
#contact{
	background-color: #616b75;
}
.display-flex img{
	border: 1px solid var(--grey-dark-default);
}
#skill {
	background-color: white;
}
#skills-title {
	color: rgba(255,255,255,0.8);
}
