.history-item-container-text{
    width: 250px;
}
.project-item-language-container{
    width: 24px;
    height: 24px;
}
.project-item-text-container{
    padding: 5px;
}
#information p{
    font-size: 12pt;
}
#information h1{
    font-size: 15pt;
}
#profilePicture{
    width: 150px;
    height: 150px;
    margin: 10px auto;
}
#popup-sub-container{
    padding : 0;
}
#popup-text{
    font-size: 15pt;
}
#popup-title{
    font-size: 25pt;
}
.popup-language-container{
    width: 120px;
    height: 120px;
}
.popup-language-picture-container{
    height: 90px;
}
#cross-container{
    top : 2%;
    left: 2%;
}
