:root{
    --dark-green : #16a085;
}

@font-face {
    font-family: "Trebuchet MS";
    src: url(../fonts/trebuchet_ms.ttf) format('truetype');
    font-weight : normal;
    font-style : normal;
}
body {
    height: 100vh;
	margin: 0;
	padding: 0;
    background-color: var(--dark-green);
    display : flex;
    justify-content: center;
    align-items: center;
    font-family: "Trebuchet MS", serif;
    overflow: hidden;
}
#game{
    position: relative;
    box-sizing: border-box;
    border: 1px solid;
	margin:0;
	width: 306px;
	height:306px;
    color : white;
}
.case {
    position: absolute;
    cursor : pointer;
    border: 1px solid var(--dark-green);
    background-color: #1abc9c;
	margin:0;
	padding: 0;
	width: calc(100% / 3);
	height: calc(100% / 3);
	z-index:2;
    box-sizing: border-box;
    display : flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: 0.2s;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.vide{
    cursor: initial;
    z-index: 1;
    background-color: var(--dark-green);
}
.line{
    display : flex;
    justify-content: center;
    width: 100%;
    height : calc(100% / 3);
}
#endGame{
    text-align: center;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: scale(1) translate(-50%, -50%);
    font-size: 100pt;
    color: white;
    animation-name: gameOverAnim;
    animation-duration: 1s;
    transform-origin: 0;
    z-index: 12;
    width: 90%;
}
@keyframes gameOverAnim {
    0%{transform: scale(0) translate(-50%, -50%);}
    100%{transform: scale(1) translate(-50%, -50%);}
}
#score{
    color : white;
    font-size: 25px;
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 12;
}
