:root{
    --orange-light : #1abc9c;
    --orange-dark : #16a085;
    --background : #34495e;
    --accent : #f1c40f;
    --eatable : #e74c3c;
    --pawn-white : #ecf0f1;
    --pawn-black : #1a2633;
}

@font-face {
    font-family: "Trebuchet MS";
    src: url('../fonts/trebuchet_ms.ttf') format('truetype');
    font-weight : normal;
    font-style : normal;
}
body{
    color : white;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    display : flex;
    justify-content: center;
    font-family: "Trebuchet MS", serif;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}
#game{
    border : 1px solid var(--orange-dark);
    box-sizing: border-box;
    margin:0;
    width: 500px;
    height:500px;
    position: relative;
}
#lineContainer{
    width: 100%;
    height: 100%;
}
#gamePawns{
    position: absolute;
    width: 100%;
    height: 100%;
}
#score, #player{
    color : white;
    font-size: 25px;
    position: absolute;
    z-index: 10;
    left: 2%;
}
#score{
    top: 2%;
}
#player{
    top: 6%;
}
.line{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 10%;
}
.case{
    height: 100%;
    width: 10%;
    position: relative;
}
.backgroundWhite{
    background-color: var(--orange-light);
}
.backgroundBlack{
    background-color: var(--orange-dark);
}
.pawn{
    margin : 1%;
    width: 8%;
    height: 8%;
    position : absolute;
    border-radius: 50%;
    z-index: 3;
    transition: 0.1s;
}
.dameWhite::before, .dameBlack::before{
    content : "";
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
}
.dameWhite::before{
    border: 2px solid rgba(0,0,0,0.7);
}
.dameBlack::before{
    border: 2px solid rgba(255,255,255,0.3);
}
.movableCase, .eatableCase{
    cursor: pointer;
}
.movableCase::before, .eatableCase::before{
    content : "";
    position: absolute;
    width: 50%;
    height: 10%;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.movableCase::after, .eatableCase::after{
    content : "";
    position: absolute;
    width: 50%;
    height: 10%;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.movableCase::after, .movableCase::before{
    background-color: var(--accent);
    z-index: 4;
}
.eatableCase::after, .eatableCase::before{
    background-color: var(--eatable);
}
.selectedPawn::before{
    content : "";
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border : 3px solid var(--accent);
}
.cursorPointer{
    cursor: pointer;
}
.backgroundBlackPawn{
    background-color: var(--pawn-black);
}
.backgroundWhitePawn{
    background-color: var(--pawn-white);
}
.eatPawn{
    animation-name: eatPawn;
    animation-duration: 0.1s;
}
@keyframes eatPawn{
    0%{transform: scale(1)}
    100%{transform: scale(0)}
}

#black-container{
    color: white;
    z-index : 11;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#black-container button{
    font-size: 25pt;
    padding: 15px 25px;
    color : white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 10px 15px;
    transition: 0.1s;
    outline: none;
}
#black-container button:hover{
    transform: scale(1.1);
}
#black-container-sub{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button-blue{
    background-color: #2980b9;
}
#end-game-text{
    text-align: center;
    font-size: 80pt;
}
#end-game-container{
    text-align: center;
}
@keyframes opacityHide{
    0% {
        opacity : 1;
    }
    100% {
        opacity : 0;
    }
}
@keyframes opacityShow{
    0% {
        opacity : 0;
    }
    100% {
        opacity : 1;
    }
}
.display-flex{
    display: flex;
}
.display-none{
    display: none;
}
.z-index10{
    z-index : 10;
}
.z-index12{
    z-index: 12;
}
